
button{
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
button:hover{
    background-color: black;
    color: white;
    transition: 1s;
    cursor: pointer;
}
  .title{
    margin-top: 0%;
    text-align: right;
  }

 .container {
  position: relative;
  width: 50%;
}
.about-brim{
  font-size: xx-large;
  text-align: center;
  color:#002366;
}
.image {
  display: block;
  width: 50%;
  height: auto;
  background-color:#0047ab;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#1034a6;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: .5s ease;
  margin: 30px;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}


.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

  .carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align:justify;
    margin-top: 50px;
    margin-bottom: 30px;
   
  }
  
  .carousel img {
    width: 100%;
    height:100%;
    object-fit:cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .header{
    text-align: center;
    color: red;
    font-size: xx-large;
 font-family:cursivel;
  }
  .title-bri{
    text-align: center;
    color: blue;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .flex-container{
    display:flex;
  }

  .all-11{
    text-align: center;
  }
  .ability-name{
    font-size: xx-large;
    color: blue;
  }